# Ignore node_modules in both frontend and backend
chatty-frontend/node_modules/
chatty-backend/node_modules/

# Ignore build/dist folders
chatty-frontend/dist/
chatty-backend/dist/

# Ignore log files
*.log

# Ignore environment files
chatty-frontend/.env
chatty-backend/.env

# Ignore all temp files
*.tmp
